<header>
	<div class="border-image"></div>
	<div class="container">
		<div class="col-md-24-24 unit">
			<div class="top-nav">
				<ul class="horizontal-menu">
					<li><a href="#">Blog</a></li>
					<li><a href="#">Projects</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="profile row">
			<div class="unit col-md-5-24">
				<img src="{{ '/img/me.png' | prepend: site.baseurl }}"/>
			</div>

			<div class="unit col-md-19-24">
				<div class="profile-desc">
					<h1>Cliche tagline goes here.</h1>
					<p>
						These things are so pretentious right?? Anywho, here goes...my name is Will, I am a Web Developer from Melbourne Australia, who also happens to be studying a double degree in English, Marketing &amp; Psychology. I like building things with AngularJS and tinkering with code in general. You can <a href="/contact.html">contact me here </a>
					</p>
				</div>
			</div>
		</div>
	</div>
</header>